<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Транскрибация аудио</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>


<body>
    <header>Регистрация</header>

    <form action="/newreg" method="POST">
        <input type="text" name="username" placeholder="Введите имя">
        <input type="password" name="pw" placeholder="Пароль" required minlength="6">
        <input type="password" name="pw_check" placeholder="Повторите пароль" required minlength="6">

        {% if error %}
            <p class="error-text">{{ error }}</p>
        {% endif %}

        <button type="submit">Создать аккаунт</button>
    </form>

</body>
</html>